<h1>TheTravelers</h1>

<p>Hi <%= @user.firstname %>,</p>

<p>
Welcome to TheTravelers website! Click on the link below to activate your account:
</p>

<%= link_to "Activate", "http://54.186.169.130:3000" + edit_account_activation_path(@user.activation_token,
                                                    email: @user.email) %>
